/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de cores */
:root {
  --primary-color: #0f1a78;
  --secondary-color: #07a2e3;
}

/* Classes personalizadas */
@layer components {
  .text-secondary-color {
    color: var(--secondary-color);
  }

  .bg-primary-color {
    background-color: var(--primary-color);
  }
}

body {
  @apply bg-white;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
